.login-page {
  position: relative;
  z-index: 0;
  .login-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
    .login-overlay-left {
      visibility: visible;
    }
  }
}

.login-page.active {
  .login-right {
    transform: translateX(-100%);
    transition: all 0.8s ease;
    opacity: 0;
    pointer-events: none;
  }
  .login-overlay-left {
    transform: translateX(100%);
    transition: all 1s ease;
    opacity: 0;
    pointer-events: none;
  }
  .login-overlay-right {
    visibility: visible;
    transition: all 1s ease;
  }
  .login-left {
    visibility: visible;
    transition: all 1s ease;
  }
}

.login-page.nonactive {
  .login-left {
    transform: translateX(100%);
    transition: all 0.8s ease;
    opacity: 0;
    pointer-events: none;
  }
  .login-overlay-right {
    transform: translateX(-100%);
    transition: all 1s ease;
    opacity: 0;
    pointer-events: none;
  }
  .login-overlay-left {
    transition: all 1s ease;
  }
  .login-right {
    transition: all 1s ease;
  }
}
//login-mobile
.login-mobile {
  position: relative;
  .login-mobile-overlay {
    position: absolute;
    top: 0;
    z-index: -1;
  }
  // ~ .login-mobile-content {
  //   position: relative;
  //   .login-dang-ky {
  //     position: absolute;
  //     top: 0;
  //     opacity: 0;
  //     pointer-events: none;
  //   }
  // }
}

.login-mobile.nonactive {
  .login-mobile-left {
    color: white;
    transition: all 1.3s ease;
  }
  .login-mobile-right {
    color: #6b21a8;
    transition: all 1s ease;
  }
  .login-mobile-overlay {
    transform: translateX(0);
    transition: all 1s ease;
  }
  ~ .login-mobile-content {
    .login-dang-nhap {
      display: block;
    }
    .login-dang-ky {
      display: none;
    }
  }
}

.login-mobile.active {
  .login-mobile-left {
    color: #6b21a8;
    transition: all 1s ease;
  }
  .login-mobile-right {
    color: white;
    transition: all 1.3s ease;
  }
  .login-mobile-overlay {
    transform: translateX(100%);
    transition: all 1s ease;
  }
  ~ .login-mobile-content {
    .login-dang-nhap {
      display: none;
    }
    .login-dang-ky {
      display: block;
    }
  }
}
